<div fxLayout="column"  fxLayoutAlign="center center">
    <div class="card" fxLayout="column" fxLayoutAlign="center stretch" style="width: 600px;">
        <br>
        <h2 class="h2">Benefits of Membership</h2>
        <hr> 
        <ul>
            <li>
                Your account will be upgraded as soon as the payment is received.
            </li>
            <li>
                ClassFly Coins are valid till the expiry date of your Plan.

            </li>
            <li>
                ID document verification is mandatory to buy class room.

            </li>
            <li>
                Number of coins required for the student to get inside to the class.

            </li>
            <li>
                Read the FAQ and Refund Policy for any questions.

            </li>
            <li>
                For any billing or payment related question or concerns, send us an email at support@classfly.com.

            </li>
        </ul>                 
  
    </div>
</div>
