<div fxLayout="column"  fxLayoutAlign="center center">
    <div class="card" fxLayout="column" fxLayoutAlign="center stretch" style="width: 600px;">
        <br>
        <h2 class="h2">Fill the details below</h2>
        <hr>                  
        <form>
            <div class="matdrop">
                <mat-form-field>
                    <mat-label>Date</mat-label>
                    <mat-select>
                          <mat-option *ngFor="let date of dates" [value]="dates">{{date}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Time</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let time of times" [value]="times">{{time}}</mat-option>
                    </mat-select>
                </mat-form-field>
             

                <mat-form-field appearance="outline">
                        <mat-label>Subject</mat-label>
                      <input matInput placeholder="Subject"   name='subject' [(ngModel)]='sub' >
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>topic</mat-label>
                        <input matInput placeholder="topic" value="topic" [(ngModel)]='tpc' name='topic'>
                      </mat-form-field>

            </div>
            <div class="img">
                
                    <mat-form-field appearance="outline">
                            <mat-label>Image url for class</mat-label>
                            <input matInput placeholder="topic" value="url" [(ngModel)]='tpc' name='topic'>
                          </mat-form-field>
                          <img  src="assets/img/facebook.png" alt="">

            </div>
            <div class="desc">
                    <mat-form-field appearance="outline">
                        <mat-label>Description about the class</mat-label>
                      <textarea matInput placeholder="Description" [(ngModel)]='dcp' name='description'></textarea>
                    </mat-form-field>
                </div>
                <div class="lastdiv">

                        <mat-form-field>
                            <mat-label>Language</mat-label>
                            <mat-select>
                                  <mat-option *ngFor="let language of languages" [value]="languages">{{language}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button style="width: 20%; height: 40px;" mat-raised-button color="primary">Book</button>

                        
    
            </div>
            
        </form>
    </div>
</div>
