.fun{
  width:80%;
  left:13px;

}

.fun5{
width:70%;
color:red;
margin: -20px;
//text-align: justify;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
font-weight: normal;
//margin-left: 13px;
text-align: right;
margin-top: -10px;
margin-bottom: 5px;
}


.align{
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 80%;
}
.alignf{
text-align:center;
}
mat-form-field { /* Changes the input styling to just about nothing so that button styling can take over */
font-size: 13px;
}

.forgotpass{
margin-left: 13px;
font-family: Arial, Helvetica, sans-serif;
font-weight: normal;
font-size: 80%;

}

.funb{
  width:17%;
  height: 40px;
  left:13px;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: normal;
 

}
.funb:hover{
background-color: lightseagreen;
}
.func{
  width:52%;
  text-align:right ;
  left:47%;
}
.func a{
text-align: right;
}
.func:hover{
background-color: white;
}
.mat-card{
  background-color: rgba(255, 255, 255, 0.8);
}
.card{
  border-radius: 15px;
  //box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  //opacity: 0.9;



}
.h2 {
  margin-top: 0px;
  text-align: center;
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

