.card{
    border-radius: 15px;
    //box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    //opacity: 0.9;



  }
  .h2 {
    margin-top: 0px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }
  .h6 {
    margin-top: 0px;
    text-align: center;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }

  .funb{
    width:17%;
    height: 40px;
    left:13%;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: normal;
   
  
  }
  .btn:hover{
  background-color: lightseagreen;
  }
  
  