
<div fxLayout="column"  fxLayoutAlign="center center">
        <div class="card" fxLayout="column" fxLayoutAlign="center stretch" style="width: 500px;">
            <br>
            <h2 class="h2">We are here to assist you!</h2>
            <h6 class="h6">Please complete the form below for your report.</h6>
            <hr>                  

        </div>
    </div>

    
                            
                        
                                
                                
    
