a {
    text-decoration: none;
    color:#333;;
    font-size: 15px;
}
 
a:hover, a:active{
    color: blue;
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
 
mat-toolbar{
    border-radius: 3px;
    
}
 
@media(max-width: 100%){
    mat-toolbar{
        border-radius: 0px;
    }
}
.header{
background-color:white;
border: 1px solid white;
margin: 0px auto;
//position: fixed;

}
.header-cont{
    //position: fixed;
    width: 100%;
    top: 0px;
    border-radius: 15px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    //opacity: 0.4;

}
span {
    font-size: 15px;
  }


// new css


a {
    text-decoration: none;
    color: #333;;
}
 
a:hover, a:active{
    color: blue;
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
 
mat-toolbar{
    border-radius: 3px;
    
}
 
@media(max-width: 100%){
    mat-toolbar{
        border-radius: 0px;
    }
}
.login{
    background-color: powderblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.login:hover{
  background-color: paleturquoise;
  color: blue;
}
.sign{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.sign:hover{
    background-color:lightgray;
    color: blue;
    
}
.stpost{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    background: -webkit-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);   
    background: -moz-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
    background: -ms-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
    background: -o-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
    background: linear-gradient(90deg, #00aee0 0%, #00fedc 100%); 
}
.stpost:hover{
    background-color:lightgray;
    color: blue;
    
}
.alink { 
    cursor:pointer; 
    font-family: Arial, Helvetica, sans-serif;
 
    }
  
  

