
  //new css

  /*
  .card{
    //margin-right: auto;
   // margin-left: auto;
    // background-color: ;
    //box-shadow: 10px 10px 5px grey;
    //border-radius: 15px;
    width: 100%; 
    //padding: 5px;
    //margin: 5px;
}
.h2 {
    margin-top: 0px;
    text-align: center;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }

  .h5{
    font-size:15px;
    padding-left: 15px;;   
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }


  .header {
    overflow: hidden;
    background-color:#f0f5f5;
    padding: 20px 10px;
    opacity: 60%;
  }
  .header h6{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-weight:none;
        font-family: monospace;
        font-size: 40px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap:wrap;
  }
ul{
  padding: 0;
  margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap:wrap;
}
ul mat-card li{
    font-size:16px;
    //font-family: Arial, Helvetica, sans-serif;
    font-weight:none;
    font-family: monospace;
    color: white;
    padding: 0.5em;
    margin: 0.5em;
    text-align: center;
}
ul mat-card li h5{
  text-align: center;
  font-weight: 4px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
ul mat-card li h6{
  align-items: center;
  text-align: center;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 0px;
}
ul mat-card li h4{
text-align: center;
font-family: Arial, Helvetica, sans-serif;

}

.flex5{
  height: 400px;
  padding: 0.5em;
  margin: 1em;
    border-radius: 9px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    opacity: 0.9;
    flex-basis: 22%;
    background: -webkit-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);   
    background: -moz-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
    background: -ms-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
    background: -o-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
    background: linear-gradient(90deg, #00aee0 0%, #00fedc 100%); 
}

.link5 { 
    width: 90px;
    text-decoration:none; 
    cursor:pointer; 
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-top: 8px;
    background: -webkit-linear-gradient(90deg, #7349cc 0%, #e163e4 100%);
    background: -moz-linear-gradient(90deg, #7349cc 0%, #e163e4 100%);
    background: -ms-linear-gradient(90deg, #7349cc 0%, #e163e4 100%);
    background: -o-linear-gradient(90deg, #7349cc 0%, #e163e4 100%);
    background: linear-gradient(90deg, #7349cc 0%, #e163e4 100%);
    }

    .link5:hover{
        background: -webkit-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
        background: -moz-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
        background: -ms-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
        background: -o-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
        background: linear-gradient(90deg, #00aee0 0%, #00fedc 100%); 
    }

.alink { 
   color:white; 
   text-decoration:underline; 
   cursor:pointer; 
   font-family: Arial, Helvetica, sans-serif;
   font-size:15px;

   }
   */@at-root
   
  //new css

  /*.card{
    //margin-right: auto;
   // margin-left: auto;
    // background-color: ;
    //box-shadow: 10px 10px 5px grey;
    //border-radius: 15px;
    width: 100%; 
    //padding: 5px;
    //margin: 5px;
}
.h2 {
    margin-top: 0px;
    text-align: center;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }

  .h5{
    font-size:15px;
    padding-left: 15px;;   
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }


  .header {
    overflow: hidden;
    background-color:#f0f5f5;
    padding: 20px 10px;
    opacity: 60%;
  }
  .header h6{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-weight:none;
        font-family: monospace;
        font-size: 40px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap:wrap;
  }
ul{
  padding: 0;
  margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap:wrap;
}
ul mat-card li{
    font-size:16px;
    //font-family: Arial, Helvetica, sans-serif;
    font-weight:none;
    font-family: monospace;
    color: white;
    padding: 0.5em;
    margin: 0.5em;
    text-align: center;
}
ul mat-card li h5{
  text-align: center;
  font-weight: 4px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
ul mat-card li h6{
  align-items: center;
  text-align: center;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 0px;
}
ul mat-card li h4{
text-align: center;
font-family: Arial, Helvetica, sans-serif;

}

.flex5{
  height: 400px;
  padding: 0.5em;
  margin: 1em;
    border-radius: 9px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    opacity: 0.9;
    flex-basis: 22%;
    background: -webkit-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);   
    background: -moz-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
    background: -ms-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
    background: -o-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
    background: linear-gradient(90deg, #00aee0 0%, #00fedc 100%); 
}

.link5 { 
    width: 90px;
    text-decoration:none; 
    cursor:pointer; 
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-top: 8px;
    background: -webkit-linear-gradient(90deg, #7349cc 0%, #e163e4 100%);
    background: -moz-linear-gradient(90deg, #7349cc 0%, #e163e4 100%);
    background: -ms-linear-gradient(90deg, #7349cc 0%, #e163e4 100%);
    background: -o-linear-gradient(90deg, #7349cc 0%, #e163e4 100%);
    background: linear-gradient(90deg, #7349cc 0%, #e163e4 100%);
    }

    .link5:hover{
        background: -webkit-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
        background: -moz-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
        background: -ms-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
        background: -o-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
        background: linear-gradient(90deg, #00aee0 0%, #00fedc 100%); 
    }

.alink { 
   color:white; 
   text-decoration:underline; 
   cursor:pointer; 
   font-family: Arial, Helvetica, sans-serif;
   font-size:15px;

   }
   */
  


   .h2 {
    margin-top: 0px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }
  ul{
    padding: 0px;
    margin: 0px;
      list-style-type: none;
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap:wrap;
      padding-top: 10px;
      padding-bottom: 10px;
  }
ul li{
  padding: 10px;
  margin: 8px;
    font-size: 18px;
    width: 225px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.block {

  font-size: 22px;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  //align-items: center;
  padding-bottom: 20px;

}
.block button{
  background-color: #4CAF50;
  color: white;
  display: block;
  width: 87%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;


}

.block button:hover {
  background-color: #87CEEB;
  color: black;
}


  