.card{
  border-radius: 15px;
  //box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  //opacity: 0.9;



}
.h2 {
  margin-top: 0px;
  text-align: center;
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.h1 {
  margin-top: 0px;
  text-align: center;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
p{
  padding: 9px;
  margin: 9px;
  font-family: monospace;

}
.align{
  text-align:center;
  padding-top: 12px;
  font-size: 12px;
  text-decoration: none;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}
