<div fxLayout="column"  fxLayoutAlign="center center">
    <div class="card" fxLayout="column" fxLayoutAlign="center stretch" style="width: 800px;">
        <br>
        <h2 class="h2">Welcome To ClassFly</h2>
        <hr>  
        <p>ClassFly provides online and live interactive IT and programming classes.
            <br>
            Here there are two types of courses, the one which will be paid per hourly basis <br>
            And the other Star Certified Course.
            <br>
             We also provide Mentoring Classes for the course we provide.
             <br>
        </p>
        <h3>ClassFly live interactive Classes</h3>
        <p>Signup to ClassFly,<br>
        Home page is search page, Try searching with respect to subject first<br>
     To book the class you have to signin first, <br>
    Buy Coins which will be used to book class.<br>
    You can see the classes you booked in the dashboard.<br>
    The meeting link will be provided 15 minutes before the meeting starts.</p>
    
    </div>
</div>
