<h1>Ethical Hacking Session 1</h1>
<mat-card class="flex5">
    <h2>Part 1</h2>
    <li>    
        <!-- <iframe height=";" width="100%" src="https://www.youtube.com/embed/W9fLzQRsZmI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <!-- <iframe width="100%" height="300px" src="https://www.youtube.com/embed/cKhVupvyhKk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <!-- <iframe width="100%" height="300px"src="https://drive.google.com/file/d/1Sv3YiapexP5rFFnCV0zxNFwJHxGDbi1n/preview" ></iframe> -->
        <video id="video" width="100%" height="300px" controls oncontextmenu="return false;" controlsList="nodownload">
            <source src="https://drive.google.com/uc?export=download&id=1IX8j6x2Gr2f8P2nMWN3t8S_WrLiua7Wr" type='video/mp4'> </video>
            
            </li>

            
</mat-card>
<br>
<br>
<mat-card class="flex5">
        <h2>Part 2</h2>
        <li>    
            <!-- <iframe height=";" width="100%" src="https://www.youtube.com/embed/W9fLzQRsZmI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            <!-- <iframe width="100%" height="300px" src="https://www.youtube.com/embed/cKhVupvyhKk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            <!-- <iframe width="100%" height="300px"src="https://drive.google.com/file/d/1Sv3YiapexP5rFFnCV0zxNFwJHxGDbi1n/preview" ></iframe> -->
            <video id="video" width="100%" height="300px" controls oncontextmenu="return false;" controlsList="nodownload">
                <source src="https://drive.google.com/uc?export=download&id=1dqoBOcaq370MXHRkEsYubYMPuQZJuXHr" type='video/mp4'> </video>
                
                </li>
    
                
    </mat-card>

    <br>
<br>
<mat-card class="flex5">
        <h2>Part 3</h2>
        <li>    
            <!-- <iframe height=";" width="100%" src="https://www.youtube.com/embed/W9fLzQRsZmI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            <!-- <iframe width="100%" height="300px" src="https://www.youtube.com/embed/cKhVupvyhKk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            <!-- <iframe width="100%" height="300px"src="https://drive.google.com/file/d/1Sv3YiapexP5rFFnCV0zxNFwJHxGDbi1n/preview" ></iframe> -->
            <video id="video" width="100%" height="300px" controls oncontextmenu="return false;" controlsList="nodownload">
                <source src="https://drive.google.com/uc?export=download&id=1knqtCuNguWiiaf7x80oarrBWIrnzZgf5" type='video/mp4'> </video>
                
                </li>
    
                
    </mat-card>

    <br>
<br>
<mat-card class="flex5">
        <h2>Part 4</h2>
        <li>    
            <!-- <iframe height=";" width="100%" src="https://www.youtube.com/embed/W9fLzQRsZmI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            <!-- <iframe width="100%" height="300px" src="https://www.youtube.com/embed/cKhVupvyhKk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            <!-- <iframe width="100%" height="300px"src="https://drive.google.com/file/d/1Sv3YiapexP5rFFnCV0zxNFwJHxGDbi1n/preview" ></iframe> -->
            <video id="video" width="100%" height="300px" controls oncontextmenu="return false;" controlsList="nodownload">
                <source src="https://drive.google.com/uc?export=download&id=1zRwJeIGc266KDoHx5iKZb0FBUnnOfvf5" type='video/mp4'> </video>
                
                </li>
    
                
    </mat-card>

    <br>
<br>
<mat-card class="flex5">
        <h2>Part 5</h2>
        <li>    
            <!-- <iframe height=";" width="100%" src="https://www.youtube.com/embed/W9fLzQRsZmI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            <!-- <iframe width="100%" height="300px" src="https://www.youtube.com/embed/cKhVupvyhKk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            <!-- <iframe width="100%" height="300px"src="https://drive.google.com/file/d/1Sv3YiapexP5rFFnCV0zxNFwJHxGDbi1n/preview" ></iframe> -->
            <video id="video" width="100%" height="300px" controls oncontextmenu="return false;" controlsList="nodownload">
                <source src="https://drive.google.com/uc?export=download&id=1VcfzOD-viNXsuPtmu91NBTNeOiVj8x2g" type='video/mp4'> </video>
                
                </li>
    
                
    </mat-card>

    <br>
<br>
<mat-card class="flex5">
        <h2>Part 6</h2>
        <li>    
            <!-- <iframe height=";" width="100%" src="https://www.youtube.com/embed/W9fLzQRsZmI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            <!-- <iframe width="100%" height="300px" src="https://www.youtube.com/embed/cKhVupvyhKk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            <!-- <iframe width="100%" height="300px"src="https://drive.google.com/file/d/1Sv3YiapexP5rFFnCV0zxNFwJHxGDbi1n/preview" ></iframe> -->
            <video id="video" width="100%" height="300px" controls oncontextmenu="return false;" controlsList="nodownload">
                <source src="https://drive.google.com/uc?export=download&id=1dtMvRG0FvgyJxb1dUgbCEb5XKtkXynyR" type='video/mp4'> </video>
                
                </li>
    
                
    </mat-card>

<!-- <iframe src="https://drive.google.com/file/d/1SP8zCP4T5rh8h6Dg7ecKOpX6Fy9w9sox/preview" width="640" height="480"></iframe> -->