<div fxLayout="column"  fxLayoutAlign="center center">
	<div class="card" fxLayout="column" fxLayoutAlign="center stretch" style="width: 600px;">
	  
	<form>
			<br>
			<h2 class="h2">Buy ClassFly Coins</h2>
			<h6 class="h6"> ClassFly Coins lets you buy the classes and helps to customize the classes right away!

			</h6>
			<hr>
   
	 <a href=""><img style="width: 90px; padding-left:13px"  src="assets/img/coins.png" alt=""></a> 

	 <div> 
		<input class="fun" type='number' placeholder="0" [(ngModel)]='coin' name='coin'>		
		<button  mat-raised-button (click)='buy()' color='primary'>Buy</button>

		<h6 class="pay">Pay &#x20b9; {{coin*2}}</h6>


	</div>
	<br>
	<div>
		<span><img style="width: 70px; padding-left:13px"  src="assets/img/securep.png" alt=""></span> 
		<span><img style="width: 140px; padding-left:13px"  src="assets/img/payment.png" alt=""></span> 

</div>
	<hr>
	<h6 class="h5"> Notes</h6>
	<div class="scroll">
	<ul>
		<li>
				
			ClassFly coins will be credited as soon as payment is received.
		</li>
		<li>
				Number of coins required to book the classes.

		</li>
	<li>
			For any billing or payment related concerns, send us an email at 
			<a href="">support@classfly.com.</a>
	</li>
	<li>
				
			ClassFly coins will be credited as soon as payment is received.
		</li>
		<li>
				Number of coins required to book the classes.

		</li>
	<li>
			For any billing or payment related concerns, send us an email at 
			<a href="">support@classfly.com.</a>
	</li>


	</ul>
	</div>
	
	
	 

	
	 
	</form>
	</div>
	</div>