  .mat-card{
    background-color: rgba(255, 255, 255, 0.8);
  }
  .card{
    border-radius: 15px;
    //box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    //opacity: 0.9
  }
  .h2 {
    margin-top: 0px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }
  .h6{
    font-size:10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }
  .fun{
    width:40%;
    margin:13px;

}
  .funb{
    width:24px;
    height: 33px;
    left:31.5%;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: normal;
   

}
.funb:hover{
  background-color: lightseagreen;
}
.payment{
    margin-left: 90%;
    margin-right: auto;
    display: block;

}
.h5{
    font-size:12px;
    margin: 15px;;   
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }

  ul li{
    font-size:10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }
  div.scroll {
    height: 80px;
    overflow-y:scroll ;
  }
  .pay{
    font-size:14px;
    margin: 15px;;   
    font-family: "Times New Roman", Times, serif;    
    font-weight: normal;
  }


