
<iframe width="400" src="https://www.youtube.com/embed/W9fLzQRsZmI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<div fxLayout="column"  fxLayout.xs="column" fxLayoutAlign="center center" >
    <div class="card" fxLayout="column" fxLayoutAlign="center stretch" >
            <ul>
                    <mat-card class="flex5">
                        <!-- <li>Your ZOOM account username is your email and password is "classfly123"</li> -->
                        <!-- For entry level trainers to book classes-->
                        <li class="align" *ngIf = "trnrdtls?.level == 'free'">    
                            Hi,<br>
                            Your current rating is {{trnrdtls.rating}}<br>
                            And you are at level {{trnrdtls.level}}.<br>
                            You have total {{trnrdtls.feed}}  feedbacks<br>
                            You can book 3 classes per day.<br>
                            And the price for students to book this class will be 10.Rs<br>
                            You will be earning students feedback required for next level
                            <br>
                            <button mat-raised-button class="link5" (click)="onCreateBook()">Book now</button>
                            <br>
                            Next level is Beginer level Trainer,<br>
                            You have to earn more than 3.5 rating from atleast 10 feedbacks.<br>
                            You will be earning 50.Rs per student<br>
                            Then your class price will be 60.Rs per hour<br>
                            
                        </li>

                        <li class="align" *ngIf = "trnrdtls?.level == 'beginner'">    
                                Hi,<br>
                                Your current rating is {{trnrdtls.rating}}<br>
                                And you are at level {{trnrdtls.level}}.<br>
                                You have total {{trnrdtls.feed}}  feedbacks<br>
                                You can book 6 free classes per day.<br>
                                We will contact you if you are having good feedback  <br>
                                You can be our professional trainer and earn more per hour.<br>
                                <button mat-raised-button class="link5" (click)="onCreateBook()">Book now</button>
                                
                            </li>

                            <!-- If this is the trainer from classfly -->
                            <li *ngIf = "trnrdtls?.level == 'trainer'">    
                                Hi,<br>
                                Your current rating is {{trnrdtls.rating}}<br>
                                And you are at level {{trnrdtls.level}}.<br>
                                You have total {{trnrdtls.feed}}  feedbacks<br>
                                You can book 6  classes per day.<br>
                                <button mat-raised-button class="link5" (click)="onCreateBook()">Book now</button>
                                
                            </li>

                    </mat-card>
        
                    <!-- <mat-card class="flex6" *ngIf='trnrdtls?.level != "free"'>
                        <li>
                              You don't have private class room!<br>
                              Your private class room expires on 05/Dec/2019.<br>
                              Would you like to buy?<br>
                              <button mat-raised-button routerLink="/buyclassroom" class="link6"> Buy now</button>
                          
                        </li>
                    </mat-card>
         -->
                </ul>
                <br>    
        <hr>
            <h6 class="h5"> Notes</h6>
            <div class="scroll">
            <ol>
                <li>
                         
                    ClassFly coins will be credited as soon as payment is received.
                </li>
                <li>
                        Number of coins required to book the classes.
        
                </li>
            <li>
                    For any billing or payment related concerns, send us an email at 
                    <a href="">support@classfly.com.</a>
            </li>
            <li>
                        
                    ClassFly coins will be credited as soon as payment is received.
                </li>
                <li>
                        Number of coins required to book the classes.
        
                </li>
            <li>
                    For any billing or payment related concerns, send us an email at 
                    <a href="">support@classfly.com.</a>
            </li>
        
        
            </ol>
            </div>
            <hr>
            

    </div>
</div>
