
<iframe width="400" src="https://www.youtube.com/embed/W9fLzQRsZmI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<div fxLayout="column"  fxLayout.xs="column" fxLayoutAlign="center center" >
    <div class="card" fxLayout="column" fxLayoutAlign="center stretch" >
            <hr>
            <h6 class="h5"> Notes</h6>
            <div class="scroll">
            <ol>
                <li>
                        
                    ClassFly coins will be credited as soon as payment is received.
                </li>
                <li>
                        Number of coins required to book the classes.
        
                </li>
            <li>
                    For any billing or payment related concerns, send us an email at 
                    <a href="">support@classfly.com.</a>
            </li>
            <li>
                        
                    ClassFly coins will be credited as soon as payment is received.
                </li>
                <li>
                        Number of coins required to book the classes.
        
                </li>
            <li>
                    For any billing or payment related concerns, send us an email at 
                    <a href="">support@classfly.com.</a>
            </li>
        
        
            </ol>
            </div>
            <hr>
            <ul>
            <mat-card class="flex5">
                <li>    
                    You are eligible to earn money from Classes!<br>
                    Would you like to book classes? <br>
                    <button mat-raised-button class="link5" (click)="onCreateBook()">Book now</button>
                </li>
            </mat-card>

            <mat-card class="flex6">
                <li>
                      You don't have private class room!<br>
                      Your private class room expires on 05/Dec/2019.<br>
                      Would you like to buy?<br>
                      <button mat-raised-button routerLink="/buyclassroom" class="link6"> Buy now</button>
                  
                </li>
            </mat-card>

        </ul>
        <br>

    </div>
</div>
