// css for responded by trainer
.mat{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 9px;

}
ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap:wrap;
}
ul div li mat-card{
  font-size:46%;
  padding-left: 15px;;   
  //font-family: Arial, Helvetica, sans-serif;
  font-weight:0.005px;
  font-family: monospace;
  color: white;
}
.flex5{
  flex-basis: 23%;
}

.flex5 mat-card h5{
  padding-left: 5px;
  padding-top: 9px;
font-size: 16px;
text-decoration: none;
font-weight: normal;
font-family: Arial, Helvetica, sans-serif;
color:green;
padding-bottom: 5px;
}
.flex5 mat-card h6{
padding-top: 5px;
font-size: 12px;
text-decoration: none;
font-weight: normal;
font-family: Arial, Helvetica, sans-serif;
}

div.scroll {
  //background-color: #ccc4ad;
    overflow: auto;
  //@at-rootwhite-space: nowrap;
  overflow-x: scroll;
  //width: 100%;
 //height: 100px;
 padding-left: 3%;
 white-space: nowrap;


}
div.scroll mat-card {
  display: inline-block;
  padding: 0px;
  margin:10px;
  text-decoration: none;
  height: 140px;
  width: 240px;
}
//card
  





div.scrollmenu {
  //background-color: #ccc4ad;
    overflow: auto;
  //@at-rootwhite-space: nowrap;
  overflow-x: scroll;
  //width: 100%;
 // height: 550px;
 padding-left: 3%;
 white-space: nowrap;


}
h2{
  font-size: 30px; 
  padding-left:40px ;
}

.class{
  width: 70%;
  height: 70%;

}

div.scrollmenu mat-card {
  display: inline-block;
  text-align: center;
  padding: 0px;
  margin:10px;
  text-decoration: none;
}
div.scrollmenu mat-card:hover {
  background-color:white;
  
}
ul {
    white-space:nowrap;
 }
 
 li {
    display:inline;
 }
 .align{
  text-align:center;
  font-size: 80%;
}
.alignb{
  //text-align:center;
  color: green;
  display: inline-block;
  padding-left: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
div.a {
  text-align: left;
}
.left{
  font-size: 14px;
  width: 40%;
  left: 60px;
  color: blue;
  background-color: powderblue;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  height: 35px;
  margin-bottom: 5px;
}
div h5,h6,h4{
  //text-align:center;
  
  padding-left: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-align:"left";
}  

/* Font color */

.text{
  color: green;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Montserrat';
  font-size:32px;
  font-weight: 800;
}
.card{
  border-radius: 9px;
 // box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  //opacity: 0.9;
}

.nav-caption{
  display: inline-block;
  padding-left: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.nav-caption5{
  display: inline-block;
  padding-left: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-decoration-color: cadetblue;
}
.mat{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 9px;
  margin-bottom: 8px;
}
.header{
  overflow: hidden;
  //background-color:#009900;
  background-color: #f0f5f5;
  padding: 20px 10px;
  opacity: 60%;
}
.header h6{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-family: monospace;
  font-size: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap:wrap;
}
.matop {
  opacity: 0.5;
}
.left:hover
{
background-image:none;
background-color:paleturquoise;
}

.h2 {
  margin-top: 0px;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  color: #00aee0 ;
  line-height: 54px; 
}
.h4 {
  margin-top: 0px;
  margin: 40px;
  font-size: 40px;
  font-weight: 700;
  color: #00aee0 ;
  line-height: 54px; 
}
.p {
  max-width: 520px;
  font-size: 18px;
  font-weight: 600;
  text-align: right;
}
.csscard {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
transition: 0.3s;
width: 100%;
}
