<div fxLayout="column"  fxLayoutAlign="center center">
	<div class="card" fxLayout="column" fxLayoutAlign="center stretch" style="width: 500px;">
	  

			<br>
			<h2 class="h2">About Class</h2>
			<h6 class="h6"> ClassFly lets you buy the classes and helps to customize the classes right away!

			</h6>
            <hr>
            <a href="/profile"><h6 class="details">Verified trainer profile</h6></a>

                    <div class="grid-container">
                        <mat-card style="left: 13px;">
                            <div class="grid-item2">
                                    <a href="/profile">
                                        <img  src="assets/img/anixdp.png" width="60" height="60">
                                     </a>
                            </div>
        
                            <div class="grid-item3">
                                <div class="grid-item4"><small >Anix Ahmed</small></div>
                                <div class="grid-item4"><small>Infoysys</small></div>
                                <div class="grid-item4"><small>Developer</small></div>
                            </div>
                        </mat-card>
                            <mat-card style="left:13px" class="grid-item2">
                                    <div class="desc">
                                            <h6 style="margin-top: 16px; ">Language : English</h6>
                                               <h6> No of followers : 55</h6>
                                                <h6>Rank : 7th</h6>
                                                <h6>Rating : 4.5</h6>
                                                <h6>Price : 60.00 &#x20b9;</h6>
                                                <h6>Skills : Python, Django, Angular</h6>
                                                <h6>Follow:           
                                                    <a href="/" class="link">       
                                                    <img  src="assets/img/linktxt.png" alt="">
                                                    Click here
                                                   </a></h6>
                                                </div>

                            </mat-card>
                    </div>
                    <hr>
                    <h6 class="details">Details about Class</h6>
                    <div class="ex1">
                        <h6>
                            Variables can hold values of different data types. Python is a dynamically typed language hence we need not define the type of the variable while declaring it. The interpreter implicitly binds the value with its type.

                            Python enables us to check the type of the variable used in the program. Python provides us the type() function which returns the type of the variable passed.
                            
                            Consider the following example to define the values of different data types and checking its type.
                        </h6>
                    </div>
                    <br>

	</div>
    </div>
  