ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap:wrap;
}
ul mat-card li{
  font-size:16px;
  //font-family: Arial, Helvetica, sans-serif;
  font-weight:0.005px;
  font-family: monospace;
  color: white;
}
.vimg{
  width: 350px;
}
.flex6{
  flex-basis: 30%;
  height: 235px;
  position: relative;
  text-align: center;
  border-radius: 9px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  opacity: 0.9;
//background: -webkit-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
//background: -moz-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
//background: -ms-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
//background: -o-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
//background: linear-gradient(90deg, #00aee0 0%, #00fedc 100%); 
}
.bottom-right {
  position: absolute;
  bottom: 34px;
  left: 24%;
  color: #476b6b;

}
.flex5{
  border-radius: 9px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  opacity: 0.9;
  flex-basis: 55%;
  }


div.scrollmenu {
    //background-color: #ccc4ad;
    //overflow: auto;
    //@at-rootwhite-space: nowrap;
    //overflow-y: scroll;
    //width: 100%;
   // height: 550px;
   padding-left: 3%;

  }
  .btn{
    margin-top: -25px; 
    padding: 14px 55px;
    height: 60px;
    text-decoration: none;
    font-weight: 0;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;

  }

  .class{
    width: 70%;
    height: 70%;

  }
  mat-form-field { /* Changes the input styling to just about nothing so that button styling can take over */
    font-size: 15px;
  }
  
  div.scrollmenu mat-card {
    display: inline-block;
    text-align: center;
    padding: 0px;
    margin:10px;
    text-decoration: none;
  }
  div.scrollmenu mat-card:hover {
    background-color:white;
    
  }
  ul {
      white-space:nowrap;
   }
   
   li {
      display:inline;
   }
   .align{
    text-align:center;
    font-size: 80%;
  }
  .alignb{
    //text-align:center;
    color: green;
    display: inline-block;
    padding-left: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  div.a {
    text-align: left;
  }
  .left{
    font-size: 14px;
    width: 40%;
    left: 60px;
    color: blue;
    background-color: powderblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    height: 35px;
    margin-bottom: 5px;
  }
  div h5,h6,h4{
    //text-align:center;
    
    padding-left: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align:"left";
  }  

  /* Font color */

  .text{
    color: green;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size:32px;
    font-weight: 800;
  }
  .card{
    border-radius: 9px;
   // box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    //opacity: 0.9;
  }

  .nav-caption{
    display: inline-block;
    padding-left: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }
  .nav-caption5{
    display: inline-block;
    padding-left: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-decoration-color: cadetblue;
  }
  .mat{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 9px;

  }
  .matop {
    opacity: 0.5;
  }
.left:hover
{
background-image:none;
background-color:paleturquoise;
}

.h2 {
    margin-top: 0px;
    text-align: right;
    font-size: 35px;
    font-weight: 700;
    color: #00aee0 ;
    line-height: 54px; 
}
.h4 {
    margin-top: 0px;
    margin: 40px;
    font-size: 40px;
    font-weight: 700;
    color: #00aee0 ;
    line-height: 54px; 
}
 .p {
    max-width: 520px;
    font-size: 18px;
    font-weight: 600;
    text-align: right;
 }
 .csscard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  transition: 0.3s;
  width: 100%;
  //position: fixed;;
}
