<footer class="bg-light pb-5">
  <div class="container text-center">
    <h2 class="display-4 font-weight-light" style="font-size: 30px;">Contact Us</h2>
    <hr>
    <form class="form">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field><br>
    <div class="desc">
      <mat-form-field appearance="outline">
          <mat-label>Write Somthing...</mat-label>
        <textarea style="height:150px;" matInput placeholder="Description" [(ngModel)]='dcp' name='description'></textarea>
      </mat-form-field>
  </div>  
</form>
  <button mat-raised-button class="btn">SEND FORM</button>
  </div>
</footer>